input {
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
    color: white;
    cursor: text;
    width: 97%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 2px 8px 2px;
    margin: 8px 2px;
    border-bottom: 1px solid #c9d1c8;
}

.main-part {
    padding: 30px 30%;
}

.row {
    padding-bottom: 20px;
}

select {
    background-color: #333;
    color: aliceblue;
    border: none;
}

.short-info-input {
    background-color: #333;
    color: white;
    resize:none;
}

.cost-input {
    width: 30%;
}

.model-type-select {
    float: right;
}

.link-to-pic {
    width: 50%;
}

.short-info-input {
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
}

.accept-button {
    margin: 0 auto;
}
