.main-part {
    padding-top: 20px;
}

.question-group {
    padding: 30px;
    padding-top: 0;
}

.question-mark-img,
.answer-img {
    width: 3%;
    height: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.question,
.answer {
    display: flex;
}

h3 {
    text-align: center;
}

.block {
    padding: 30px;
    padding-bottom: 0;
}

.send-question {
    text-align: center;
    padding-bottom: 20px;
}

.send-question a {
    color: green;
}