
body {
	margin: 0;
	padding: 0;
	background-image: url('../images/back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1920px auto;
	min-height: 1000px;
    
}

.main-part {
	background-color: transparent;
}


.login-box {
	width: 280px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: #304040;
}

.login-box h1 {
	margin-left: 15px;
	float: left;
	font-size: 25px;
	border-bottom: 4px solid;
	margin-bottom: 25px;
	padding: 13px 0;
	color: #c9d1c8;
}

.account-register-link a {
    float: right;
    color: #2e8857;
    text-decoration: none;
}

.account-register-link {
    text-align: right;
    font-size: 11px;
    flex-wrap: wrap;
}

.bottom-block {
    margin: 15px 0;
}


.textbox {
	width: 97%;
	overflow: hidden;
	font-size: 17px;
	padding: 8px 2px 8px 2px;
	margin: 8px 2px;
	border-bottom: 1px solid #c9d1c8;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	padding-left: 10px;
	color: white;
	cursor: text;
}


.btn {
    padding-right: 10px;

}

.acceptButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}


