body {
    margin: 0;
    padding: 0;
    background-image: url('../images/back.jpg');
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1920px auto;
}

.main-part {
    background-color: transparent;
}


.login-box {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #304040;
}

.login-box h1 {
    margin-left: 15px;
    float: left;
    font-size: 25px;
    border-bottom: 2px solid;
    margin-bottom: 25px;
    padding-top: 13px;
    padding-bottom: 3px;
    color: #c9d1c8;
}

.account-register-link a {
    color: #2e8857;
    text-decoration: none;
}

.account-register-link {
    text-align: left;
    font-size: 12px;
    flex-wrap: wrap;
}

.bottom-block {
    margin: 15px 0;
}

.textbox {
    width: 95%;
    overflow: hidden;
    font-size: 17px;
    padding: 8px 2px 8px 2px;
    margin: 8px 5px;
    border-bottom: 1px solid #c9d1c8;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
    color: white;
    cursor: text;
}


.btn-sign-in {
    font-size: 12px;
    width: 100%;
    padding: 7px 10px;
    margin: 0;    
}

.btn-register {
    margin-right: 10px;
}
