.body-text {
    background-color: white;
    color: black;
    text-align: center;
}

.body-text p {
    padding: 40px;
}

.intro-text {
    font-size: 1.6vw;
    color: white;
    font-weight: bolder;
}

.intro-greeting {
    width: 100%;
}

.intro-greeting h4 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}

.intro {
    height: 100vh;
    padding: 0 20px 20px 20px;
    margin: 0;
    justify-content: space-between;
    display: flex;
    background-image: url("/static/images/welcome-page-evo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.read-more {
    width: 100%;
}

.read-more h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.contacts {
    width: 400px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts li {
    font-size: 20px;
    padding-top: 10px;
    border: none;
    margin: 0;
}

.carousel-inner > .carousel-item {
    height: 400px !important;

}

.carousel-text {
    margin: auto 0;
}

.carousel-text h3 {
    text-align: center;
}


.carousel-images {
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);


}

@media (max-width: 1300px) {}
