h4 {
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
	letter-spacing: 5px;


}

.main-part p {
	color: #c9d1c8;
	margin: 0;
	padding: 0 0 30px 30px;
}

.main-part {
	padding-bottom: 30px;
}

img {
	width: 50%;
	height: auto;
}

.first-img {
	float: right;
	padding-right: 30px;
}

.second-img {
	float: left;
	padding-left: 30px;
	padding-right: 10px;
}

@media (max-width: 1300px) {
    .second-img, .first-img {
    	width: 100%;
    	padding-left: 10px;
    	padding-right: 10px;
    }

    .main-part p {
    	padding: 20px 10px;
    }
}