<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Car Selling</title>

    <script th:src="@{/static/assets/js/main.js}"></script>


    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/addPostStyle.css}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="shortcut icon" th:href="@{/static/images/pixil-layer-Background.png}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
    <div th:insert="~{pagetemplate :: header}"></div>

    <div class="main-part">
        <div sec:authorize="isAuthenticated()">
            <div class="add-form">
                <form th:action="@{/add}" method="post">
                    <div class="row">
                        <input class="col-md-6 link-to-pic" autocomplete="off" name="link" type="text" placeholder="Link to picture" />
                        <input class="col-md-4 offset-2 float-right cost-input" type="number" placeholder="Cost($)" name="cost" />
                    </div>
                    <div class="row">
                        <select class="col-md-5 mdb-select md-form" name="mark">
                            <option value="" disabled selected>Mark</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Mitsubishi">Mitsubishi</option>
                            <option value="Dodge">Dodge</option>
                        </select>

                        <input class="col-md-5 offset-2 model-input" autocomplete="off" type="text" name="modelCar" placeholder="Model" />

                    </div>
                    <div class="row">
                        <input class="col-md-6" type="number" placeholder="Engine Volume" name="volume" />
                        <select class="col-md-5 offset-1 mdb-select md-form model-type-select" name="bodyType">
                            <option value="" disabled selected>Body type</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Coupe">Coupe</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="row">
                        <input class="col-md-12 color-input" autocomplete="off" type="text" placeholder="Color" name="color" />
                    </div>
                    <div class="row">
                        <textarea class="short-info-input" name="shortInfo" rows="5"></textarea>
                    </div>
                    <div class="row">
                        <button class="accept-button" type="submit">Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:insert="~{pagetemplate :: footer}"></div>

</body>

</html>
