<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/static/images/pixil-layer-Background.png}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/helpPageStyle.css}" />
    <script type="text/javascript" th:src="@{/static/js/help.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/chatbot.js}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div th:insert="~{pagetemplate :: header}"></div>
    <div class="main-part">
        <div class="row">
            <div class="col-md-12">
                <h3>Frequently Asked Questions</h3>
            </div>
        </div>
        <div class="question-group">
            <div class="block">
                <div class="question">
                    <h4>Q: How to order some car to my country/city?</h4>
                </div>
                <div class="answer">
                    <p>A: You should need to open "Cars" page, select one and send your order to our operator</p>
                </div>
            </div>
            <div class="block">
                <div class="question">
                    <h4>Q: Why I need to login/register on your ugly site?</h4>
                </div>
                <div class="answer">
                    <p>A: Because we don't work with unconfirmed persons</p>
                </div>
            </div>
            <div class="block">
                <div class="question">
                    <h4>Q: Why the site is so ugly?</h4>
                </div>
                <div class="answer">
                    <p>A: Because my UI skills lower than your dignity</p>
                </div>
            </div>
            <div class="block">
                <div class="question">
                    <h4>Q: How to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, exercitationem?</h4>
                </div>
                <div class="answer">
                    <p>A: Just make Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quas!</p>
                </div>
            </div>
            <div class="block">
                <div class="question">
                    <h4>Q: How to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, exercitationem?</h4>
                </div>
                <div class="answer">
                    <p>A: Just make Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quas!</p>
                </div>
            </div>
            <div class="block">
                <div class="question">
                    <h4>Q: How to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, exercitationem?</h4>
                </div>
                <div class="answer">
                    <p>A: Just make Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quas!</p>
                </div>
            </div>
        </div>
        <div class="send-question">
            <h4>Do you have another question?</h4>
            <p>Write to my <a href="mailto:sasha20999@outlook.com">MAIL</a> and I'll answer you soon!</p>
        </div>
    </div>
    <div th:insert="~{pagetemplate :: footer}"></div>
</body>

</html>
