<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/loginPageStyle.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

	<div th:insert="~{pagetemplate :: header}"></div>
    
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

	<form th:action="@{/login}" method="post" class="login-box">
		<div class="login-box">

			<h1>Login</h1>

			<div class="textbox">
				<input type="text" autocomplete="off" name="email" placeholder="Email">
			</div>

			<div class="textbox">
				<input type="Password" autocomplete="off" name="password" placeholder="Password">
			</div>
			<div><input class="acceptButton" type="submit">Sign in</input></div>
			
			<div class="account-register-link">Don't have account? 
				<a th:href="@{/registration}">Create</a>
			</div>

		</div>
	</form>

	<div th:insert="~{pagetemplate :: footer}"></div>

</body>
</html>