<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>Car Selling</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <script th:src="@{/static/assets/js/main.js}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>


	<div th:insert="~{pagetemplate :: header}"></div>

	<div class="main-part">
		<h2 class="welcome-homepage">Welcome to our site</h2>
		<div class="text-photo">
			<div class="text">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Veniam laboriosam recusandae saepe odit autem, esse fugit quis ut nihil maiores aliquam perferendis quam, iste totam, velit adipisci reprehenderit dolores natus hic, ad debitis. Voluptatibus provident eum vitae asperiores illum dolorum officia fugiat iste, nam, inventore explicabo? Repellat consequuntur mollitia obcaecati atque officiis, quas, dolore </p>

				<a th:href="@{/readMore}"><button class="read-more-button">Read more</button></a>
			</div>
			<div class="photo">
				<img src="https://cdna.artstation.com/p/assets/images/images/002/260/918/large/kal-yan-polischuk-evoet.jpg?1459448452" alt="">
			</div>
		</div>

		<div class="body-text">
			<p class="body-text-test">	Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequatur quod labore voluptate, quidem odio officiis reiciendis, minima impedit dolores deserunt reprehenderit assumenda ipsum voluptatum blanditiis accusamus, sunt obcaecati iure magni quis minus quasi eum tempora doloremque vitae? Quisquam voluptates vitae repellendus in perferendis eligendi, animi qui nostrum minus et, quibusdam doloribus, beatae minima veritatis aut nulla consectetur aperiam. Nihil nulla facilis eveniet fugit, quod esse dolores quo voluptate tempore voluptatum est sunt distinctio sequi aliquam ab ratione tenetur! Quo, rem. Exercitationem velit dolore obcaecati sint molestiae, ullam nam doloribus dolores laboriosam neque minima accusantium quia ab, voluptatem quaerat corrupti.</p>
		</div>
	</div>

	<div th:insert="~{pagetemplate :: footer}"></div>

</body>
</html>