<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About company</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/static/images/pixil-layer-Background.png}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/readMoreStyle.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script th:src="@{/assets/js/main.js}"></script>
</head>

<body>
    <div th:insert="~{pagetemplate :: header}"></div>

    <div class="main-part">
        <h4>Thank for your attention to us!</h4>
        <img class="first-img" src="https://cdn.atomic-shop.com/images/cache/720x0/uohhsbIb_17020213_a_S13.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet vitae distinctio voluptas id eos, doloremque. Quisquam nulla molestiae voluptate inventore, blanditiis, corrupti ad sed cumque, expedita quas id aut fugit cupiditate saepe voluptatibus natus a rerum voluptatem minima dignissimos labore! Pariatur eius perferendis ducimus laboriosam, modi dolor, natus, fuga praesentium quam quas cupiditate eum dignissimos incidunt. Quia sequi ab nulla voluptates laborum illo quo unde facilis dolore eligendi, repudiandae perferendis voluptatem</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Sed blanditiis accusantium error laborum consequatur soluta earum expedita iure harum. Ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione nisi molestias recusandae quasi eaque magnam quis cumque ex laborum veniam. Exercitationem, dolorem quo sequi? Consequuntur soluta delectus cum non fuga expedita quibusdam voluptate quaerat quisquam totam adipisci inventore minima, itaque ea asperiores nemo dolore laborum quidem ipsa commodi. Quas porro laudantium, debitis iusto tempore accusantium, accusamus! Aspernatur voluptate beatae velit amet, possimus nulla quia alias quo error non voluptatum repellendus est necessitatibus fuga molestias sed asperiores repellat. Deserunt recusandae vero explicabo rerum qui et minus eveniet! Eius omnis, quia, reprehenderit asperiores autem ducimus error ea earum recusandae, modi iste? Labore.</p>


        <img class="second-img" src="https://images.adsttc.com/media/images/51d4/84a8/b3fc/4bea/e100/01d6/large_jpg/Portada.jpg?1372882078" alt="">
        <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloribus laudantium ex autem iusto ullam ratione ipsam eaque aperiam. Libero illo enim, aperiam dolorum hic officia ducimus sint laboriosam id laborum dicta. Deleniti iste delectus earum officia nesciunt, beatae fugiat corrupti dolorem ipsa rem architecto qui voluptatem voluptate rerum, commodi quasi, sapiente? Pariatur officia, temporibus nulla expedita cum omnis exercitationem blanditiis quod facere obcaecati tempore dolore, libero culpa nam sit voluptas possimus aliquid suscipit ducimus voluptate. Cupiditate deleniti, eligendi fugiat perferendis amet possimus minima ipsum consectetur excepturi ipsa et culpa at tempora. Dolorem, blanditiis reiciendis beatae atque, voluptatibus nam quia.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus modi a ratione, nesciunt, provident aspernatur. Sit sint, asperiores inventore! Possimus optio labore aliquam minima nobis quia libero quam alias eveniet! Consectetur laborum qui at incidunt, laudantium. Tempora aperiam nam dolores ipsa tempore eius aliquid eos ratione quod corporis. Repellat, non?</p>
    </div>

    <div th:insert="~{pagetemplate :: footer}"></div>
</body>

</html>
